<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/" debug="true" threshold="debug">
 
    <appender name="Console" class="org.apache.log4j.ConsoleAppender">
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%-4r %-5p [%t] %37c %3x - %m%n"/>
        </layout>
    </appender>
 
    <appender name="Arquivo" class="org.apache.log4j.RollingFileAppender">
        <param name="File" value="logs/console.log"/>
        <param name="Append" value="true"/>
        <param name="MaxFileSize" value="10000KB"/>
        <param name="MaxBackupIndex" value="10"/>
 
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%X{version} - %d %-5p [%c] %m%n"/>
        </layout>
    </appender>    
 
    <root>
        <priority value="info"/>
        <appender-ref ref="Console"/>
        <appender-ref ref="Arquivo"/>
    </root>
    
</log4j:configuration>